@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

:root{
    --darkgrey:#383838;
    --lightgray:#9e9e9e;
    --white:rgb(247, 247, 247);
    --blue:#346DFF;
    --yellow:#FFCD4B;
    --blackShadow:#c6c6c6;
    --title-font-family: 'Josefin Sans', sans-serif;
    --title-font-weight: 700;
    --banner-title-font-size: 2rem;
    --body-font-family: 'Manrope', sans-serif;
    --body-font-size: 1rem;
    --body-font-line-height: 1.56rem;
    --button-font-weight: 600;
    --mobile-h2-font-size: 1.5rem;
    --body--backgroundColor: #fcfcfc;
    --font-size: 16px;
    --code--font: 'Source Code Pro', monospace;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    position: relative;
    background-color: var(--body--backgroundColor);
}

h1{
    font-size: 1rem;
    font-weight: var(--title-font-weight);
    margin-bottom: 1rem;
}

h2{
    font-size: var(--banner-title-font-size);
    font-weight: var(--title-font-weight);
}

h3{
    color: var(--darkgrey);
    margin-bottom: 2rem;
    margin-right: 10px;
    font-size: 1.5rem;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    
}

.h3--white{
    color: var(--white);
}
.h3--yellow{
    color: var(--yellow);
}

h4{
    padding: 2px 0 20px 0;
    color: var(--darkgrey);
    font-family: var(--body-font-family);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.h4-white{
    color: var(--white);
}

h5{
    font-size: 1.3rem;
    font-family: var(--title-font-family);
    color: var(--darkgrey);
    padding-bottom: 20px;
    font-weight: 600;
}

h6{
    display: inline-block;
    padding: 0.2rem 0.8rem;
    font-size: 1.3rem;
    font-family: var(--title-font-family);
    color: var(--darkgrey);
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 20px;
    border: 0.3px solid var(--white);
    
}

.h5--white{
    color: var(--white);
}

.h6--white{
    color: var(--white);
}

.body--white {
    font-size: var(--body-font-size);
    color: var(--white);
    font-family: var(--body-font-family);
    font-weight: 300;
    line-height: var(--body-font-line-height);
    letter-spacing: 0.6px;
}

.body--gray {
    font-size: var(--body-font-size);
    color: var(--darkgrey);
    font-family: var(--body-font-family);
    font-weight: 400;
    line-height: var(--body-font-line-height);
}

.body--highlight{
    font-weight: 700;
}

.button{
    font-family: var(--body-font-family);
    display: inline-block;
    padding: 12px 32px;
    margin-top: 20px;
    border-radius: 40px;
    font-weight: var(--button-font-weight);
    line-height: normal;
    position: relative;
    overflow: hidden;
}

.button:hover i{
    color: var(--white);
}

.button:hover{
    color: var(--white);
}


.button:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 40px;
    background-color: var(--darkgrey);
    background-position: center;
    background-size: cover;
    animation: buttonAnim 300ms ease-out;
    z-index: -1;
}


.button--blue{
    color: var(--white);
    background-color: #346DFF;
}

.button--yellow{
    color: var(--darkgrey);
    background-color: var(--yellow);
}

.soft-shadow{
    filter: drop-shadow(0 0 10px #ccc);
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.3rem;
}


.fa-arrow-right{
    margin-left: 10px;
    color: var(--white);
}

.fa-arrow-left{
    margin-right: 10px;

}
.icon--white{
    color: var(--white);
}

.icon--gray{
    color:var(--darkgrey)
}


.point-dot{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--blue);
    border-radius: 50%;
    margin-left: 5px;
}
.point-dot--yellow{
    background-color: var(--yellow);
}

.point-dot--white{
    background-color: var(--white);
}


.arrow-down{
    color: var(--darkgrey);
    position:absolute;
    transform: translateX(-50%);
    left: 50%;
    animation: arrow-animate 2s ease-in-out infinite;
    cursor: pointer;
}


.path-white{
    stroke: var(--white);
}

.path-gray{
    stroke: var(--darkgrey);
}

a{
    display: block;
    text-decoration: none; 
}

.home-project, .about-project, .about-project-design, .recommendation-wrapper,.about-wrapper, .skills-wrapper, .project-info-wrapper, .contact{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 24px;
}


/*Navigation*/

nav{
    width: 100vw;
    position: fixed;
    padding: 10px 16px;
    z-index: 5;
}

.nav-logo{
    width: 54px;
    height: 32px;
    object-fit: cover;
    object-position: center;
}

.active{
    background-color: rgba(43, 43, 43, 0.5);
    border-radius: 30px;
}


.m-nav-wrapper{
    margin: 0 auto;
    padding: 8px 18px;
    border-radius: 24px;
    background-color: rgba(72,71,71,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.3px solid var(--lightgray);
}


.mobile-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-bar a{
    line-height: 0;
}

.m-nav-wrapper ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.m-nav-wrapper ul li{
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    font-size: 0.8rem;
}

.m-nav-link{
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
}

.d-nav-link{
    color: white;
    padding: 12px 32px;
}

.d-nav{
    width: 100vw;
    display: none;
}

.d-nav-logo{
    width: 82%;
}

.d-logo-wrapper{
    width: 100px;
    height: 100%;
}

.d-nav-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-nav-bar{
    border-radius: 24px;
    background-color: rgba(72,71,71,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.3px solid var(--white);
}

.d-nav-bar ul{
    padding: 2px;
}

.d-nav-bar ul li{
    display: inline-block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    font-size: 0.8rem;
}

.disc2, .disc3, .disc4{
    display: none;
}


/*Banner-start*/

.spline{
    width: 100vw;
    height: 100svh;
}

.logo{
    position:absolute;
    bottom:16px;
    right:16px;
    width:32px;
    height:32px;
    z-index:2;
    background-image:url(https://app.spline.design/_assets/_icons/icon_favicon32x32.png);
    background-size:cover;
}

.logo:hover{
    opacity:0.8;
}


.home-banner{
    margin: 0 auto;
    height: 100svh;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-wrapper{
    padding: 0 24px;
    position: absolute;
    top: 0;
    margin: 0 auto;
}

.banner-content{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35svh 0px 0 0px;
    z-index: 1;
}

.banner-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100;
    height: 11rem;
}


.banner-title{
    width: 100%;
    color: var(--darkgrey);
    font-family: var(--title-font-family);
    padding-bottom: 40px;
}

.banner-avatar-box{
    display: flex;
    align-items: baseline;
}

.avatar{
    width: 3.5rem;
    margin-left: 1rem;
}


/* Project section*/
#project-banner-discription{
    margin-top: 40px;
}

.section-discription{
    padding-bottom: 3rem;
}

.section-discription p{
    max-width: 500px;
}

.h3-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.m-project-card-item{
    position: relative;
    background-color: var(--white);
    height: auto;
    margin-bottom: 40px;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 4px var(--blackShadow));
    cursor: pointer;
    transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.d-project-card-item{
    height: 600px;
    display: none;
}

.d-project-discription{
    height: auto;
}
.m-project-card-item:hover{
    transform: translate(-6px,-6px);
    filter: drop-shadow(0px 6px 10px var(--blackShadow));
}

.project-content-box-wrapper{
    height: 100%;
}

.project-type{
    font-weight: 500;
}

.d-project-title-box{
    padding-bottom: 7px;
}

.project-content-box{
    padding: 16px 20px 32px 20px;
}

.d-item-hover{
    color: #9e9e9e;
}

.project-thumbnail{
    width: 100%;
    background-position:top;
    background-size: cover;
    aspect-ratio: 4/3;
    filter: drop-shadow(0 0 3px #aaaaaa);
    border-radius: 0.8rem;
}


.project1-img{
    background-image: url('../src/Assets/Images/project1-thumbnail.jpg');
}

.project2-img{
    background-image: url('../src/Assets/Images/project2-thumbnail.jpg');
}

.project3-img{
    background-image: url('../src/Assets/Images/project3-thumbnail.jpg');
}

.project4-img{
    background-image: url('../src/Assets/Images/project4-thumbnail.jpg');
}

.project-skills{
    padding: 20px 0px;
}

.d-project-skills{
    position: relative;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}


.project-skills ul{
    padding-bottom: 20px;
}

.project-skills ul li, .d-project-skills ul li{
    display: inline-block;
    color: var(--white);
    font-family: var(--body-font-family);
    font-size: 0.9rem;
    padding: 8px 18px;
    margin-bottom: 10px;
    margin-right: 4px;
    background-color: var(--darkgrey);
    border-radius: 1rem;
}


.project-arrow{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
    background-color: var(--blue);
}

.d-project-arrow{
    margin-left: auto;
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
    background-color: var(--blue);
}

.more-project{
    left: 50%;
    transform: translateX(-50%);
}


/*recommendation*/
.recommendation{
    background-color: var(--darkgrey);
    background: linear-gradient(0deg, rgba(33,33,33,1) 20%, rgba(56,56,56,1) 79%);
}

.m-recom-card{
    width: 100%;
    padding: 1.5rem 0px;
}

.m-recom-card-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    height: 28rem;
    background-color: var(--white);
    padding: 28px 28px;
    margin-right: 20px;
    border-radius: 16px;
}


.fa-quote-right{
    margin-top: 20px;
    margin-left: 90%;
}

.fa-quote-left{
    margin-bottom: 20px;
}

.m-recom-person{
    display: flex;
    justify-content: space-between;
}

.m-recom-img{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 0.3px solid var(--lightgray);
    width: 40px;
    height: 40px;
}

.m-recom-name, .m-recom-title{
    font-family: var(--body-font-family);
}

.m-recom-name{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 6px;
}

.m-recom-title{
    font-size: 0.8rem;
}

.flickity-page-dots{
    padding:20px 0;
}

.flickity-page-dots .dot {
    opacity: 1;
    border: 2px solid var(--white);
}

.flickity-page-dots .dot.is-selected {
    background: var(--white);
}

/*recommendation end*/

/*contact*/

.contact{
    display: flex;
    justify-content: center
}

.contact-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-title{
    margin-right: 100px;
}

.contact-message{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.contact-social-media-icons{
    display: none;
}

/*Contact end*/


.footer-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    position: sticky;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.social-media-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
}

.social-media-icon{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body--backgroundColor);
    border: 0.3px solid var(--lightgray);
    border-radius: 50%;
    transition: background-color 300ms ease-in-out;
}

.social-media-icon:hover{
    background-color: var(--lightgray);
}

.copyright{
    margin-top: 20px;
    text-align: center;
    color: var(--darkgrey);
}


/*About page start*/

.about-banner-h2{
    height: 50%;
    overflow: hidden;
    position: relative;
}

.about-h2{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.3rem;
}

.emoji{
    padding-right: 6px;
}

.text-in{
    animation: animateH2 .5s ease forwards;
}

.about-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    order:-1;
    height: 500px;
    margin-bottom: 80px;
}

.about-img{
    width: 100%;
    height: 100%;
    background-image: url('../src/Assets/Images/Sora_Noh_Profile.jpg');
    background-position: 0% 20%;
    background-size: cover;
    border-radius: 16px;
}

.about-chip{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 3px 10px;
    border-radius: 20px;
}

.core-value, .skills{
    width: 100%;
    padding-top: 80px;

}

.value-items,.skills-item,.about-me{
    margin-bottom: 58px;
}

.skills-img{
    background-color: #383838;
    height: 400px;
    width: 100%;
}

/*about page end*/

/*Project detail start*/


.project-detail-banner{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.project-datail-banner-wrapper{
    max-width: 1200px;
    padding: 0px 24px;
}

.demo-btn{
    margin-top: 0px;
}

.project-inner-box{
    background-color: var(--darkgrey);
    border-radius: 16px;
    padding: 32px 24px;
    margin: 20px 0;
}


.project-info-img-wrapper{
    aspect-ratio: 4/3;
}


.project-info-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: top;
    object-fit: cover;
}

.project-step{
    border-radius: 20px;
    border: 0.5px solid var(--white);
    padding: 0.2rem 0.8rem;
}

.takeaway{
    margin: 40px 0;
}


pre{
    display: block;
}

code{
    font-size: 0.8rem;
    overflow-x: auto;
    font-family: var(--code--font);
    color: var(--white);
    line-height: 1rem;
    display: block;
    width: 100%;
    height: 380px;
    border-radius: 10px;
    background-color: #1f1f1f;
}

.mouse-pointer{
    display: none;
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    position: absolute;
    border-radius: 50%;
    transition: all 50ms linear;
}

.puple-code{
    color: rgb(255, 72, 255);
}

.skyblue-code{
    color: #88c9ff;
}

.blue-code{
    color: #2261ff;
}

.yellow-code{
    color: rgb(255, 225, 57);
}

.green-code{
    color: green;
}

.orange-code{
    color:orange;
}

@keyframes arrow-animate{
    0%{
        bottom:35px;
    }

    50%{
        bottom:25px;
    }

    100%{
        bottom:35px;
    }
}

@keyframes animateH2 {
    0%{
        transform: translateY(0%);

    }

    100%{
        transform: translateY(-95%);

    }
}

@keyframes buttonAnim {
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}


@media screen and (min-width: 568px) {
    h1{
        font-size: 1.5rem;
    } 

    h2{
        font-size: 3.5rem;
        margin-left: -5px;
    }

    .about-banner-h2{
        width: 120%;
        height: 70%;
    }


    .col-1-sm { grid-column: span 1; }
    .col-2-sm { grid-column: span 2; }
    .col-3-sm { grid-column: span 3; }
    .col-4-sm { grid-column: span 4; }
    .col-5-sm { grid-column: span 5; }
    .col-6-sm { grid-column: span 6; }
    .col-7-sm { grid-column: span 7; }
    .col-8-sm { grid-column: span 8; }
    .col-9-sm { grid-column: span 9; }
    .col-10-sm { grid-column: span 10; }
    .col-11-sm { grid-column: span 11; }
    .col-12-sm { grid-column: span 12; }

}

@media screen and (min-width: 834px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 5.5rem;
        margin-left: -5px;
    }

    .about-banner-h2{
        width: 120%;
        height: 90%;
    }

    .col-1-md { grid-column: span 1; }
    .col-2-md { grid-column: span 2; }
    .col-3-md { grid-column: span 3; }
    .col-4-md { grid-column: span 4; }
    .col-5-md { grid-column: span 5; }
    .col-6-md { grid-column: span 6; }
    .col-7-md { grid-column: span 7; }
    .col-8-md { grid-column: span 8; }
    .col-9-md { grid-column: span 9; }
    .col-10-md { grid-column: span 10; }
    .col-11-md { grid-column: span 11; }
    .col-12-md { grid-column: span 12; }

}

@media screen and (min-width: 1080px) {
    :root{
        font-size: 18px;
    }

    .mobile-nav{
        display: none;
    }

    .d-nav{
        width: 100vw;
        display: block;
    }

    h3{
        font-size: 3rem;
    }

    .banner-content{
        margin: 28vh auto 0 auto;
    }

    .d-project-card-box{
        margin: 80px 0;
    }
   
    .section-discription{
        padding-bottom: 5rem;
    }

    .home-project, .about-project,.about-wrapper, .skills-wrapper, .project-info-wrapper, .recommendation-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 180px 24px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 78px);
        padding: 0px 24px;
    }

    .overview,.takeaway{
        width: 50%;
    }
    .about-image-wrapper{
        order:2;
        margin-bottom: 0px;
        top: 20vh;
        position: sticky;
        height: 460px;
    }
    .m-project-card-item{
        padding: 24px;
    }
    .other-project{
        padding: 16px 8px 32px 8px;
    }
    .d-project-content-box{
        padding: 10px 20px;
    }

    .d-project-card-item{
        display: block;
        margin-bottom: 80px;
    }

    .d-project-thumbnail {
        height: 100%;
        background-image: url('../src/Assets/Images/d-project1-thumbnail.jpg');
        transition: all 500ms ease-in-out;
    }
    .contact-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-img{
        width: 80%;
    }

    .footer-wrapper{
        display: flex;
        padding: 20px 24px;
    }

    .social-media-box{
        bottom: 20px;
        position: fixed;
        flex-direction: column;
    }

    .d-home-project-item{
        display: none;
    }

    .article-section-description{
        padding: 1rem;
    }
    .demo-btn{
        margin-top: 50px;
    }

    code::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
      
    code::-webkit-scrollbar-track {
        background: transparent;
    }
       
    code::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    code::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
    .box-animation{
        filter: brightness(0.5);
        transform: translateX(300px);
        transition: filter 0.3s ease-out, transform 0.7s ease-out;
        transition-delay: 0.4s;
    }

    .scroll-animation {
        filter: brightness(1);
        transform: translateX(0);
    }

    .contact-social-media-icons{
        margin-top: 30px;
        width: 100%;
        display: flex; 
        align-items: center;
    }

    .contact-icon{
        opacity: 0;
        margin-right: 50px;
        transform: translateY(30px);
        transition: opacity 0.3s ease-out, transform 0.7s ease-out;
    }
    .contact-scroll-animation{
        opacity: 1;
        transform: translateY(0px);
    }
     
    

    .col-1-lg { grid-column: span 1; }
    .col-2-lg { grid-column: span 2; }
    .col-3-lg { grid-column: span 3; }
    .col-4-lg { grid-column: span 4; }
    .col-5-lg { grid-column: span 5; }
    .col-6-lg { grid-column: span 6; }
    .col-7-lg { grid-column: span 7; }
    .col-8-lg { grid-column: span 8; }
    .col-9-lg { grid-column: span 9; }
    .col-10-lg { grid-column: span 10; }
    .col-11-lg { grid-column: span 11; }
    .col-12-lg { grid-column: span 12; }

}